export trusted_wifikey='tell-no-one'
export henet_tunnelid='123456'
export henet_username='montyzuma'
export henet_password='password-string'
export easybell_username='...'
export easybell_password='...'
export ddns_domain='...'
export ddns_username='...'
export ddns_password='...'
export freifunk_ca_crt='-----BEGIN CERTIFICATE-----
...
...
...
-----END CERTIFICATE-----'
export freifunk_client_crt='-----BEGIN CERTIFICATE-----
...
...
...
-----END CERTIFICATE-----'
export freifunk_client_key='-----BEGIN RSA PRIVATE KEY-----
...
...
...
-----END RSA PRIVATE KEY-----'
export imagivpn_key='#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
...
...
...
-----END OpenVPN Static key V1-----'
export dh2048_pem='-----BEGIN DH PARAMETERS-----
...
...
...
-----END DH PARAMETERS-----'
